.alerta-amarilla {
    background-color: yellow;
    padding: 10px;
}

.alerta-verde {
    background-color: lightgreen;
    padding: 10px;
}

.alerta-roja {
    background-color: lightcoral;
    padding: 10px;
}
